:root{
    --color-activo: rgba(212, 246, 255, 1);
}
/* url("fonts/fa-regular-400.eot"),  */
@font-face {
    font-family: "Icons";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/fa-brands-400.eot") format("embedded-opentype"), url("fonts/fa-brands-400.woff2") format("woff2"), url("fonts/fa-brands-400.woff") format("woff"), url("fonts/fa-brands-400.ttf") format("truetype"), url("fonts/fa-brands-400.svg") format("svg");
    src: url("fonts/fa-solid-900.eot") format("embedded-opentype"), url("fonts/fa-solid-900.woff2") format("woff2"), url("fonts/fa-solid-900.woff") format("woff"), url("fonts/fa-solid-900.ttf") format("truetype"), url("fonts/fa-solid-900.svg") format("svg");
}

.contentWrapper{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../imgs/background3.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.row{
    max-width: 100vw;
    align-self: center;
}

.mainContent{
    display: block;
    margin-top: 2vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mainContent > .col{
    max-width: 80% !important;
    align-self: center;
}

/* Barra superior */
.mainNav .dropdown .dropdown-item{
    text-align: center;
}

.mainNav .dropdown .dropdown-item:hover{
    background-color: var(--color-activo);
    color: black !important;
}

.mainNav .dropdown .selected::before{
    font-family: "Icons";
    font-weight: 900;
    content: "\f105";
    padding-right: 10px;
}

.mainNav .dropdown .selected::after{
    font-family: "Icons";
    font-weight: 900;
    content: "\f104";
    padding-left: 10px;
}

/* Underline Effect*/
.nav-item {
    position: relative;
  }
  
  .navbar-collapse ul li a.nav-link:before {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background: transparent;
      content: '';
      opacity: 0;
      -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      -ms-transform: translateY(10px);
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
  }
  
  .navbar-collapse ul li:hover a.nav-link:before ,.navbar-collapse ul li a.nav-link.active::before{
      opacity: 1;
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      bottom: 0px;
      background: #dd4343;
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #dd4343;
  }
  
  .dropdown-menu {
    border: 0px;
  }
/* Fin barra superior */


/* Formulario de datos */
.formData .row.data{
    display: flex;
}
.formData .row.data .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formData .row.data .col input, .formData .row.data .col select{
    text-align: center !important;
    text-align-last: center !important;
}

@media screen and (max-width: 575px){
    .formData .row.data{
        display: inline-block;
    }   
}
/* Fin Formulario de datos */

.toggle.btn.off .toggle-handle{
    background-color: #28a745 !important;
}

.toggle.btn .toggle-handle{
    background-color: #bd2130 !important;
}

/* Error msg */
.errorMsg{
    background-color: rgba(255,30,36,01);
    padding: 0.5rem;
    width: auto;
    border-radius: 1em;
    border: 1px solid rgba(0,0,0,0.1);
}

.errorMsg::before{
    position: absolute;
    z-index: -1;
    content: "";
    left: calc(50% - 10px);
    top: calc(50%*2);
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent rgba(255,30,36,1) transparent;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: rotate(180deg);
}

.errorMsg > span{
    color: white;
    font-weight: 500;
}