ul.custom-list{
	/*border: 1px solid black;*/
	/*border-radius: 1em;*/
	margin-top: 1em;
	margin-right: 1em;
}

ul.custom-list > li{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
}

ul.custom-list > li:last-child{
	border: 0;
}

ul.custom-list > li > label{
	font-weight: bold
}
